.pageContent.js-ajax-region
  - if @searchable
    = render 'search'

  - if @messages[:records].empty?
    .noData.noData--clean
      %h2.noData__title Không tìm thấy email phù hợp với bộ lọc.
      %p.noData__text
        Không có email nào khớp với truy vấn bạn đã nhập.
  - else
    = render 'list', :messages => @messages[:records]
    = render 'shared/message_db_pagination', :data => @messages, :name => "message"

