- page_title << @server.name
- page_title << "Email"
- page_title << "Gửi đi"
= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :messages
= render 'header', :active_nav => :outgoing
- if @messages[:records].empty? && !@queried
  .pageContent--compact
    .noData.noData--clean
      %h2.noData__title Chưa có email nào được gửi.
      %p.noData__text
        Bạn chưa gửi email nào qua máy chủ mail này. Khi bắt đầu gửi,
        email sẽ xuất hiện tại đây.
- else
  = render 'index'

