- page_title << "IP pools"

.pageHeader
  %h1.pageHeader__title IP Pools

.pageContent.pageContent--compact

  - if @ip_pools.empty?
    .noData.noData--clean
      %p.noData__title Chưa cấu hình IP pool nào.
      %p.noData__text
        Email gửi từ máy chủ mail có thể được gửi qua các nhóm địa chỉ IP cụ thể.
        Mỗi máy chủ có thể được gán một IP pool và có thể cấu hình rule
        để định tuyến email qua từng pool.
      %p.noData__button= link_to "Tạo IP pool đầu tiên", :new_ip_pool, :class => 'button button--positive'
  - else
    %p.pageContent__intro.u-margin
      IP pool là nhóm địa chỉ dùng để gửi email đi.
      Bạn có thể tạo nhiều pool tùy nhu cầu.

    %ul.largeList.u-margin
      - for ip_pool in @ip_pools
        %li.largeList__item
          = link_to edit_ip_pool_path(ip_pool), :class => 'largeList__link' do
            = ip_pool.name

    %p.u-center= link_to "Thêm IP pool", :new_ip_pool, :class => 'button button--positive'
