- page_title << "Tạo IP pool mới"
.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = link_to "IP Pools", :ip_pools
      &rarr;
    Tạo IP pool mới
.pageContent.pageContent--compact
  = render 'form'

