- page_title << "IP Pools"
- page_title << @ip_pool.name
- page_title << "Thêm địa chỉ IP"
.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = link_to "IP Pools", :ip_pools
      &rarr;
      = @ip_pool.name
      &rarr;
      Chỉnh sửa
      &rarr;
    Thêm địa chỉ IP

.pageContent.pageContent--compact
  = render 'form'

