- page_title << @server.name
- page_title << "Định tuyến"
- page_title << "SMTP Endpoints"
- page_title << "Chỉnh sửa"

= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :routing
= render 'routes/header', :active_nav => :smtp_endpoints
.pageContent.pageContent--compact
  = render 'form'

