- page_title << @server.name
- page_title << "Giới hạn"
= render 'sidebar', :active_server => @server
= render 'header', :active_nav => :settings
= render 'settings_header', :active_nav => :limits
.pageContent.pageContent--compact

  %p.pageContent__intro.u-margin
    Để bảo vệ uy tín gửi mail và đảm bảo dịch vụ ổn định,
    hệ thống áp dụng giới hạn cho lượng email có thể đi qua máy chủ mail của bạn.
  %p.pageContent__text.u-margin
    Giới hạn chính cần lưu ý là số email bạn có thể gửi từ máy chủ mail
    tới người nhận bên ngoài trong khung thời gian trượt 60 phút.
    Giới hạn hiện tại được hiển thị bên dưới.

  %ul.limits.u-margin
    %li.limits__limit
      %p.limits__value
        - if @server.send_limit
          = number_with_delimiter @server.send_limit
        - else
          không giới hạn
      %p.limits__frequency email mỗi 60 phút*


  %p.pageContent__text
    Bạn có thể xem mức sử dụng hiện tại và giới hạn ở góc trên bên phải của mỗi trang máy chủ mail.
    Thanh hiển thị cho biết bạn đang gần chạm giới hạn tới đâu. Email nhận vào vẫn được hiển thị throughput,
    nhưng hiện chưa bị giới hạn.

  %p.pageContent__subTitle Điều gì xảy ra khi chạm giới hạn?
  %p.pageContent__text
    Nếu chạm giới hạn gửi đi, email mới bạn cố gửi sẽ bị giữ lại và cần được mở thủ công
    khi mức sử dụng đã giảm.

  %p.pageContent__text
    Bạn sẽ nhận thông báo qua email và webhook nếu đã bật khi sắp chạm hoặc vượt giới hạn.
