- page_title << "Người dùng"
- page_title << "Thêm"
.pageHeader
  %h1.pageHeader__title
    %span.pageHeader__titlePrevious
      = link_to 'Người dùng', :users
      &rarr;
    Thêm người dùng

.pageContent.pageContent--compact
  %p.pageContent__intro.u-margin
    Để thêm người dùng vào hệ thống OmmicomMail, hãy nhập thông tin bên dưới.
    Bạn cần chọn cấp quyền admin toàn hệ thống hoặc giới hạn quyền theo từng tổ chức.
  = render 'form'

