- page_title << @server.name
- page_title << "Tracking domains"
- page_title << "Chỉnh sửa tracking domain"

= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :domains
= render 'domains/nav', :active_nav => :track_domains
.pageContent.pageContent--compact
  = render 'form'
