%p.pageContent__intro.u-margin
  Để xác minh quyền sở hữu <b>#{@domain.name}</b>, bạn cần thêm bản ghi TXT cho tên miền này.
  Bản ghi TXT cần trỏ tới tên miền và chứa giá trị bên dưới.

%pre.codeBlock.u-margin= @domain.dns_verification_string

%p.pageContent__intro.u-margin
  Sau khi thêm bản ghi, nhấp nút bên dưới để kiểm tra và xác minh tên miền.

.buttonSet
  = link_to "Xác minh bản ghi TXT", [:verify, organization, @server, @domain], :remote => true, :method => :post, :class => "button"
  = link_to "Quay lại danh sách tên miền", [organization, @server, :domains], :class => "button button--neutral"
